/* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */

@font-face {
  font-family: 'NeutralFace';
  src: local('NeutralFace'), url(font/NeutralFace.otf) format('opentype');
}

@font-face {
  font-family: 'NeutralFace-Bold';
  src: local('NeutralFace-Bold'), url(font/NeutralFace-Bold.otf) format('opentype');
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Poppins';
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background: #000;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}