@font-face {
  font-family: 'NeutralFace';
  src: local('NeutralFace'), url(media/font/NeutralFace.otf) format('opentype');
}

@font-face {
  font-family: 'NeutralFace-Bold';
  src: local('NeutralFace-Bold'), url(media/font/NeutralFace-Bold.otf) format('opentype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  caret-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  cursor: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background: #000;
  -ms-overflow-style: none;  /* IE and Edge */
}

::selection {
  background: transparent; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: transparent; /* Gecko Browsers */
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 400ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 9999;
  mix-blend-mode: difference;
  background-color: #fff;
}

.cursor--hidden {
  opacity: 0;
  transition: all 400ms ease;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(3.5);
  transition: all 400ms ease;
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 400ms ease;
}
