/* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */

@font-face {
  font-family: 'NeutralFace';
  src: local('NeutralFace'), url(media/font/NeutralFace.otf) format('opentype');
}

@font-face {
  font-family: 'NeutralFace-Bold';
  src: local('NeutralFace-Bold'), url(media/font/NeutralFace-Bold.otf) format('opentype');
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background: #000;

  -ms-overflow-style: none;  /* IE and Edge */
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px 0 rgba(132, 48, 166, 0.8);
  }

  70% {
    box-shadow: 0 0 5px 10px rgba(132, 48, 166, 0.8);
  }

  100% {
    box-shadow: 0 0 5px 0 rgba(132, 48, 166, 0.8);
  }
}